# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.genAI_env/
.venv/
venv/

# VS Code settings
.vscode/

# Jupyter notebooks
.ipynb_checkpoints/

# Environment variables / secrets
.env
*.env

# Data files (optional, if you’ll keep raw data out of git)
data/
*.csv
*.tsv
*.json

# Specific data files
Clase*/data/nltk_data
Clase*/embeddings
Clase*/.DS_Store
